{
  "presets": ["next/babel"],
  "plugins": [
    "emotion",
    "import-glob-array",
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx"],
        "alias": {
          "components": "./src/components",
          "data": "./src/data",
          "pages": "./src/pages",
          "static": "./public/static",
          "styles": "./src/styles",
          "testing": "./testing",
          "utils": "./src/utils"
        },
      },
    ],
  ],
}